ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
APP_PORT=8080

MSSQL_PORT=1433
MSSQL_SA_PASSWORD=YourStrong!Passw0rd
MSSQL_PID=Developer

CONNECTIONSTRINGS__EFCOREDBCONNECTION=Server=sqlserver,1433;Database=ECommerceApp;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;Encrypt=False

JWT__ISSUER=ECommerceApp
JWT__AUDIENCE=ECommerceApp
JWT__KEY=ReplaceWithA32CharacterOrLongerSecretKey
JWT__ACCESSTOKENMINUTES=480
JWT__ADMINEMAILS=admin@example.com

EMAILSETTINGS__MAILSERVER=smtp.gmail.com
EMAILSETTINGS__MAILPORT=587
EMAILSETTINGS__SENDERNAME=Your Application Name
EMAILSETTINGS__FROMEMAIL=yourgmail@gmail.com
EMAILSETTINGS__PASSWORD=yourAppPassword